.sideimg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.smallimg{
  width: 315px;
  height: 420px;
  object-fit: cover;
}


hr {
  border-top: 1px solid black;
}

 .wiggle {
  height: auto;
  animation-name:wiggle;
  -webkit-animation-name:wiggle;
  animation-duration:2.5s;
  -webkit-animation-duration:2.5s;
  -webkit-animation-iteration-count:infinite
  }

  footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 0 20px 0;
  }


  @keyframes wiggle { /*css for moving icons */
    0%,100%{transform:rotate(-10deg)
      }
      50%{transform:rotate(10deg)
        }
  }
  

@media only screen and (min-width: 425px){
  h1 {
  font-size: 65px;
  text-align: center;
  }
}

@media only screen and (min-width: 599px){

  .aboutme, .skills, .work {
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 40px;
}
}

@media only screen and (max-width: 424px){
  h1 {
  font-size: 50px;
  text-align: center;
  }
}

@media only screen and (max-width: 600px){
  .aboutme, .skills {
  margin-left: 30px;
  margin-right: 40px;
  margin-bottom: 40px;
  }
}

@media only screen and (max-width: 768px){
  .hide-mob{
    display: none;
  }
  .top-section{
    padding: 75px 30px 75px 30px;
  }
  .button {
    padding: 20px;
  }
  body {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 769px){
  .hide-desktop{
    display: none;
  }
  .top-section{
    padding: 200px 30px 200px 30px;
    }
}

